# Python cache
*.pyc

# virtual environment folders
venv
.venv
env
.env

# Code files
.vscode
*.code-workspace

#pyinstaller build files
build/
dist/

# uv command is only used to produce pylock.toml
uv.lock

# hatch vcs version - ignore generated version.py
save_convert/version.py
