on:
  workflow_dispatch:
    inputs:
      release-tag-number:
        type: string
        description: "Enter the release-tag number"
        required: true
        default: "v0.1.0"

name: Create Release Package
run-name: ${{ github.actor }} triggered release package creation
jobs:
  build-project:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Setup uv
        uses: hynek/setup-cached-uv@v2
      - name: Install Python dependencies
        run: |
          uv sync
      - name: Build package using hatch
        run: |
          uv run hatch build -t custom
      - name: Get artifact zip path (Linux and macOS)
        if: ${{ contains(fromJson('["Linux", "macOS"]'), runner.os) }}
        run: |
          python -c '
          from pathlib import Path
          import sys
          if len(sys.argv) < 2:
             print("Github ENV file is missing", file=sys.stderr)
             sys.exit(1)
          dist_dir = Path("dist/")
          artifact_paths = sorted(dist_dir.glob("*.zip"))
          artifact_env_string = "\n".join([f"ARTIFACT_PATH={artifact_path}\nARTIFACT_NAME={artifact_path.name}"
            for artifact_path in artifact_paths])
          github_env_path = Path(sys.argv[1])
          with github_env_path.open("a") as env_file:
            env_file.write(f"{artifact_env_string}\n")
          ' ${GITHUB_ENV}
      - name: Get artifact zip path (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
          python -c '
          from pathlib import Path
          import sys
          if len(sys.argv) < 2:
             print("Github ENV file is missing", file=sys.stderr)
             sys.exit(1)
          dist_dir = Path("dist/")
          artifact_paths = sorted(dist_dir.glob("*.zip"))
          artifact_env_string = "\n".join([f"ARTIFACT_PATH={artifact_path}\nARTIFACT_NAME={artifact_path.name}"
            for artifact_path in artifact_paths])
          github_env_path = Path(sys.argv[1])
          with github_env_path.open("a") as env_file:
            env_file.write(f"{artifact_env_string}\n")
          ' $Env:GITHUB_ENV
      - name: Upload ${{ runner.os }} pyinstaller zip
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_PATH }}
          compression-level: 0
          retention-days: 1

  create-release:
    needs: build-project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Get Previous Tags
        id: previous_tag
        run: |
          tags=$(gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/tags \
            | jq -r '.[].name')
          previous_tag=$(echo "$tags" | sort -V | tail -n 2 | head -n 1)
          if [[ -n "${previous_tag}" ]]; then
            echo ${previous_tag}
            echo "PREVIOUS_TAG=${previous_tag}" >> ${GITHUB_ENV}
          fi
        env:
          GITHUB_TOKEN: ${{ github.token }}
        shell: bash
      - name: Generate Release Notes
        run: |
          if [[ -n "${{ env.PREVIOUS_TAG }}" ]]; then
            prev_tag_option="-f previous_tag_name=${{ env.PREVIOUS_TAG }}"
          fi
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/releases/generate-notes \
            -f tag_name=${{ inputs.release-tag-number }} \
            -f target_commitish=main \
            ${prev_tag_option} \
            | jq -r '.body' > releaseNotes.md
        env:
          GITHUB_TOKEN: ${{ github.token }}
        shell: bash
      - name: View Release Notes
        run: cat releaseNotes.md
        shell: bash
      - name: Create Release
        id: create_release
        run: |
          release_id=$(gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/releases \
            -f 'tag_name=${{ inputs.release-tag-number }}' -f 'target_commitish=main' \
            -f 'name=${{ inputs.release-tag-number }}' -f "body=$(cat releaseNotes.md)" -F "draft=true" \
            | jq -r '.id')
            echo "Release ID=${RELEASE_ID}"
            echo RELEASE_ID="${release_id}" >> ${GITHUB_ENV}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        shell: bash
      - name: Download pyinstaller artifacts (All platforms)
        uses: actions/download-artifact@v6
        with:
          path: dist/
      - name: Upload release artifacts
        id: upload_release_artifacts
        run: |
          find dist -maxdepth 1 -name '*.zip' -exec bash -c '
            artifact_path=$1
            artifact_name=$(basename "${artifact_path}")
            curl \
              -X POST \
              -H "Content-Length: $(stat -c '%s' ${artifact_path})"  \
              -H "Authorization: token ${{ github.token }}" \
              -H "Content-Type: $(file -b --mime-type ${artifact_path})" \
              -H "Accept: application/vnd.github.v3+json" \
              --upload-file "${artifact_path}" \
              "https://uploads.github.com/repos/${{ github.repository }}/releases/${{ env.RELEASE_ID }}/assets?name=${artifact_name}" \
          | cat' upload_artifact {} \;
          #find dist -maxdepth 1 -name '*.zip' -exec gh release upload ${{ inputs.release-tag-number}} {} \+
        env:
          GITHUB_TOKEN: ${{ github.token }}
        shell: bash
